@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
div.info_1 {
    margin: 0px;
    height: 60vh;
    width: 100vw;
    background-image: url("../images/about_1.png");
    background-size: cover;
    display: flex;
}
div.info_1>div.info_text_box {
    width: 50%;
    height: 100%;
    background-color: #3332329f;
    backdrop-filter: blur(4px);
    color: #ffffff;
    font-size: 150%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.info_1>div.info_text_box>p.text_1,
div.info_1>div.info_text_box>p.text_2 {
    width: 80%;
    margin-left: 5%;
    font-size: 1.2vw;
}
div.info_1>div.info_text_box>p.text_1>span {
    color: #C10303;
}
div.info_2 {
    margin: 0px;
    margin-bottom: 5vh;
    height: 60vh;
    width: 100vw;
    background-image: url("../images/about_2.png");
    background-size: cover;
    display: flex;
    justify-content: end;
}
div.info_2>div.info_text_box {
    width: 50%;
    height: 100%;
    background-color: #3332329f;
    backdrop-filter: blur(4px);
    color: #ffffff;
    font-size: 150%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.info_2>div.info_text_box>p.text_1,
div.info_2>div.info_text_box>p.text_2 {
    width: 80%;
    margin-left: 5%;
    font-size: 1.2vw;
}