/* Блок fa стили */
div.block_fa {
    width: 100vw;
    height: 80vh;
    background-color: #F1EEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* Текст */
div.block_fa>h1 {
    width: 100%;
    height: 5%;
    text-align: center;
    color: #000000;
}
div.block_fa>h1>span {
    color: #ffffff;
    background-color: #7E0000;
    padding-left: 0.2%;
    padding-right: 0.2%;
}
div.block_fa>div.b_fa_text_box_full {
    height: 85%;
    width: 50%;
    margin-left: 3%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
}
div.block_fa>div.b_fa_text_box_full>div.b_fa_text_box {
    width: 50%;
    height: 40%;
    background-color: #c9effdd0;
    margin: 5%;
    margin-right: 10%;
    border-radius: 20px;
}
div.block_fa>div.b_fa_text_box_full>div.b_fa_text_box>h2 {
    margin-left: 7%;
    margin-top: 5%;
}
div.block_fa>div.b_fa_text_box_full>div.b_fa_text_box>p {
    margin-left: 7%;
    margin-top: 5%;
    font-size: 1.3em;
}
/* Блок заявки */
div.block_fa>div.b_fa_reg_box {
    height: 70%;
    width: 20%;
    margin-right: 20%;
    box-shadow: 15px 15px 20px 0 #a3a3a3;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
div.block_fa>div.b_fa_reg_box>h2 {
    margin-bottom: 20%;
    margin-top: 15%;
}
div.block_fa>div.b_fa_reg_box>input {
    border: none;
    border-bottom: 2px solid #000000;
    background: transparent;
    width: 70%;
    height: 7%;
    margin-bottom: 15%;
    font-size: 1.2em;
    background-color: #e7e5e5;
    transition: border-color 50ms ease-out;
}
div.block_fa>div.b_fa_reg_box>input:focus {
    content: none;
    outline: 0;
    box-shadow: none;
    border-bottom-color: #026196;
}
div.block_fa>div.b_fa_reg_box>button {
    width: 70%;
    height: 9%;
    border-radius: 25px;
    border: none;
    background-color: #026196;
    color: #ffffff;
    font-size: 1.3em;
}
div.block_fa>div.b_fa_reg_box>button:hover {
    background-color: #01507a;
    cursor: pointer;
}
/* Блок fa закончилля */