{% extends 'base.html' %}
{% load static %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>AUTODEALER</title>
</head>
<!-- Блок info -->
<div class="info_1">
    <div class="info_text_box">
        <p class="text_1"><span>AUTODEALER</span> - это профессиональная организация, специализирующаяся на помощи автолюбителям 
            в поиске и приобретении автомобилей различных марок и моделей через автосалоны.</p>
        <p class="text_2">Основной задачей компании является предоставление своим клиентам удобного и надежного 
            канала для покупки автомобилей, где они могут получить качественный сервис, 
            поддержку и консультации на каждом этапе сделки. Компания обычно сотрудничает с 
            автосалонами, где имеется широкий выбор автомобилей различных классов, марок, ценовых категорий и конфигураций.</p>
    </div>
</div>
<div class="info_2">
    <div class="info_text_box">
        <p class="text_1">Специалисты компании хорошо знают рынок автомобилей и могут помочь 
            клиентам выбрать оптимальный вариант, исходя из их потребностей, бюджета и предпочтений. 
            Кроме того, они также могут провести тест-драйвы, оценку состояния автомобилей, 
            оформить все необходимые документы и организовать доставку автомобиля клиенту.</p>
        <p class="text_2">Компания по поиску и продаже автомобилей в автосалонах стремится к созданию 
            удобной и эффективной платформы для проведения автомобильных сделок, 
            обеспечивая высокий уровень сервиса и доверия у своих клиентов.</p>
    </div>
</div>
<!-- Конец блока info -->
<!-- Блок fa -->
<div class="block_fa">
    <h1>Преимущества <span>нашего сервиса</span></h1>
    <div class="b_fa_text_box_full">
        <div class="b_fa_text_box">
            <h2>Гарантии</h2>
            <p>Сохранение заводской гарантии
                Двухлетняя гарантия на оригинальные детали и аксессуары
                Гарантия на выполненные сервисные работы</p>
        </div>
        <div class="b_fa_text_box">
            <h2>Удобство и комфорт</h2>
            <p>Обеспечение мобильности <br>Всегда на связи
                Комфортные условия в сервисных центрах</p>
        </div>
    </div>
    <form id="form" onsubmit="return validateForm()" method="post" action="{% url 'create_application' %}"  class="b_fa_reg_box">
        <h2>Оформите заявку</h2>
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Введите имя">
        <input type="email" name="email" id="email" placeholder="Введите почту">
        <input type="tel" id="phone" name="phone" placeholder="Введите телефон"  maxlength="12">
        <button type="submit">Закажите звонок</button>
    </form>
</div>
<!-- Конец блока fa -->
{% endblock %}