<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/blocks/header.css">
    <link rel="stylesheet" href="../css/blocks/footer.css">
    <link rel="stylesheet" href="../css/blocks/block_fa.css">
    <title>AUTODEALER</title>
</head>
<body>
    <header>
        <div class="name_block">
            <p class="name">AUTODEALER</p>
        </div>
        <div class="btn">
            <a href="main.html" class="link_btn">ГЛАВНАЯ</a>
        </div>
        <div class="btn">
            <a href="models.html" class="link_btn">МОДЕЛИ</a>
        </div>
        <div class="btn">
            <a href="photo_video.html" class="link_btn">ФОТО И ВИДЕО</a>
        </div>
        <div class="btn">
            <a href="request.html" class="link_btn">ПОКУПАТЕЛЯМ</a>
        </div>
        <div class="btn">
            <a href="about.html" class="link_btn">О КОМПАНИИ</a>
        </div>
        <div class="btn">
            <a href="contacts.html" class="link_btn">КОНТАКТЫ</a>
        </div>
        <div class="empty">

        </div>
    </header>
    <main>
        <!-- Блок info -->
        <div class="info_1">
            <div class="info_text_box">
                <p class="text_1"><span>AUTODEALER</span> - это профессиональная организация, специализирующаяся на помощи автолюбителям 
                    в поиске и приобретении автомобилей различных марок и моделей через автосалоны.</p>
                <p class="text_2">Основной задачей компании является предоставление своим клиентам удобного и надежного 
                    канала для покупки автомобилей, где они могут получить качественный сервис, 
                    поддержку и консультации на каждом этапе сделки. Компания обычно сотрудничает с 
                    автосалонами, где имеется широкий выбор автомобилей различных классов, марок, ценовых категорий и конфигураций.</p>
            </div>
        </div>
        <div class="info_2">
            <div class="info_text_box">
                <p class="text_1">Специалисты компании хорошо знают рынок автомобилей и могут помочь 
                    клиентам выбрать оптимальный вариант, исходя из их потребностей, бюджета и предпочтений. 
                    Кроме того, они также могут провести тест-драйвы, оценку состояния автомобилей, 
                    оформить все необходимые документы и организовать доставку автомобиля клиенту.</p>
                <p class="text_2">Компания по поиску и продаже автомобилей в автосалонах стремится к созданию 
                    удобной и эффективной платформы для проведения автомобильных сделок, 
                    обеспечивая высокий уровень сервиса и доверия у своих клиентов.</p>
            </div>
        </div>
        <!-- Конец блока info -->

        <!-- Блок fa -->
        <div class="block_fa">
            <h1>Преимущества <span>нашего сервиса</span></h1>
            <div class="b_fa_text_box_full">
                <div class="b_fa_text_box">
                    <h2>Гарантии</h2>
                    <p>Сохранение заводской гарантии
                        Двухлетняя гарантия на оригинальные детали и аксессуары
                        Гарантия на выполненные сервисные работы</p>
                </div>
                <div class="b_fa_text_box">
                    <h2>Удобство и комфорт</h2>
                    <p>Обеспечение мобильности <br>Всегда на связи
                        Комфортные условия в сервисных центрах</p>
                </div>
            </div>
            <div class="b_fa_reg_box">
                <h2>Оформите заявку</h2>
                <input type="text" name="Введите имя" id="name" placeholder="Введите имя">
                <input type="email" name="Введите почту" id="mail" placeholder="Введите почту">
                <input type="text" name="Введите телефон" id="phone" placeholder="Ввведите телефон">
                <button>Закажите звонок</button>
            </div>
        </div>
        <!-- Конец блока fa -->
    </main>
    <footer>
        <div>
            <a href="#" id="main">Главная</a>
            <a href="#" id="cars">Покупка машин</a>
            <a href="#" id="special">Спецпредлложение</a>
        </div>
        <div>
            <p>КОНТАКТЫ</p>
            <p>Тел.: +7 (***)***-**-**</p>
            <p>Электронная почта: ********@mail.ru</p>
        </div>
    </footer>
</body>
</html>