{% extends 'base.html' %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <title>AUTODEALER</title>
</head>
<!-- Блок contacts -->
<div class="contacts">
    <h1>Контактная <span>информация</span></h1>
    <p><span>Почта:</span> ************@mail.ru</p>
    <p><span>Номер телефона:</span> +7(***)***-**-**</p>
</div>
<!-- Конец блока contacts --
<!-- Блок fa -->
<div class="block_fa">
    <h1>Преимущества <span>нашего сервиса</span></h1>
    <div class="b_fa_text_box_full">
        <div class="b_fa_text_box">
            <h2>Гарантии</h2>
            <p>Сохранение заводской гарантии
                Двухлетняя гарантия на оригинальные детали и аксессуары
                Гарантия на выполненные сервисные работы</p>
        </div>
        <div class="b_fa_text_box">
            <h2>Удобство и комфорт</h2>
            <p>Обеспечение мобильности <br>Всегда на связи
                Комфортные условия в сервисных центрах</p>
        </div>
    </div>
    <form id="form" onsubmit="return validateForm()" method="post" action="{% url 'create_application' %}"  class="b_fa_reg_box">
        <h2>Оформите заявку</h2>
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Введите имя">
        <input type="email" name="email" id="email" placeholder="Введите почту">
        <input type="tel" id="phone" name="phone" placeholder="Введите телефон"  maxlength="12">
        <button type="submit">Закажите звонок</button>
    </form>
</div>
<!-- Конец блока fa -->
{% endblock %}