{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- Блок 1 -->
<div class="block_1">
    <div class="b_1_text_box">
        <h1>Удобный сервис покупки автомобиля по всей стране!</h1>
        <p>Стать владельцем нового автомобиля проще, чем вы думали -
            просто выберите нужную конфигурацию или найдите ближайшего к вам дилера.</p>
        <div class="b_1_list">
            <img src="{% static 'images/icons8-галочка.svg' %}" id="img_1">
            <p>Выбрать автомобили 
            в наличии</p>
        </div>
        <div class="b_1_list">
            <img src="{% static 'images/loupe_1m4vhkbxmdu9.svg' %}" id="img_2">
            <p>Найти дилера
            Карта дилеров</p>
        </div>
        <button>Рассчитать условия</button>
    </div>
</div>
<!-- Конец блока 1 -->
<!-- Блок 2 -->
<div class="block_2">
    <div class="b_2_text_box">
        <h1>Покупка машин <br><span>самых разных марок</span></h1>
        <p>В нашем магазине представлены машины разных марок! Выберии цвет и город в котором преобретаешь.</p>
        <button>Купить машину мечты</button>
    </div>
    <div class="b_2_img_box">
        <div class="img_1"></div>
        <div class="img_2"></div>
        <div class="img_3"></div>
    </div>
</div>
<!-- Конец блока 2 -->
<!-- Блок 3 -->
<div class="block_3">
    <div class="b_3_text_box">
        <h2>АКЦИИ И СПЕЦПРЕДЛОЖЕНИЯ</h2>
        <h1>Спецпредложение на машины марки BMW</h1>
        <p>Преимущество до 705 000 руб.
            Предложение действует до 20.10.2021. Подробности уточняйте в чате 
            тех-поддержки.</p>
        <button>Узнать подробнее</button>
    </div>
</div>
<!-- Конец блока 3 -->
<!-- Блок fa -->
<div class="block_fa">
    <h1>Преимущества <span>нашего сервиса</span></h1>
    <div class="b_fa_text_box_full">
        <div class="b_fa_text_box">
            <h2>Гарантии</h2>
            <p>Сохранение заводской гарантии
                Двухлетняя гарантия на оригинальные детали и аксессуары
                Гарантия на выполненные сервисные работы</p>
        </div>
        <div class="b_fa_text_box">
            <h2>Удобство и комфорт</h2>
            <p>Обеспечение мобильности <br>Всегда на связи
                Комфортные условия в сервисных центрах</p>
        </div>
    </div>
    <div class="b_fa_reg_box">
        <h2>Оформите заявку</h2>
        <input type="text" name="Введите имя" id="name" placeholder="Введите имя">
        <input type="email" name="Введите почту" id="mail" placeholder="Введите почту">
        <input type="text" name="Введите телефон" id="phone" placeholder="Ввведите телефон">
        <button>Закажите звонок</button>
    </div>
</div>
<!-- Конец блока fa -->
{% endblock %}