{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'css/photo_video.css' %}">
</head>
<!-- Блок photo -->
<div class="photo">
    <h1>Фото и видео</h1>
    <h2><span>Какой вид автомобиля выбрать для себя, если вы задумались о покупке авто</span></h2>
    <img src="{% static 'images/p_v_1.png' %}" alt="p_v_1.png">
    <img src="{% static 'images/p_v_2.png' %}" alt="p_v_2.png">
    <img src="{% static 'images/p_v_3.png' %}" alt="p_v_3.png">
    <img src="{% static 'images/p_v_4.png' %}" alt="p_v_4.png">
    <img src="{% static 'images/p_v_5.png' %}" alt="p_v_5.png">
    <img src="{% static 'images/p_v_6.png' %}" alt="p_v_6.png">
    <img src="{% static 'images/p_v_7.png' %}" alt="p_v_7.png">
    <img src="{% static 'images/p_v_8.png' %}" alt="p_v_8.png">
    <img src="{% static 'images/p_v_9.png' %}" alt="p_v_9.png">
</div>
<!-- Конец блока photo --
<!-- Блок fa -->
<div class="block_fa">
    <h1>Преимущества <span>нашего сервиса</span></h1>
    <div class="b_fa_text_box_full">
        <div class="b_fa_text_box">
            <h2>Гарантии</h2>
            <p>Сохранение заводской гарантии
                Двухлетняя гарантия на оригинальные детали и аксессуары
                Гарантия на выполненные сервисные работы</p>
        </div>
        <div class="b_fa_text_box">
            <h2>Удобство и комфорт</h2>
            <p>Обеспечение мобильности <br>Всегда на связи
                Комфортные условия в сервисных центрах</p>
        </div>
    </div>
    <form id="form" onsubmit="return validateForm()" method="post" action="{% url 'create_application' %}"  class="b_fa_reg_box">
        <h2>Оформите заявку</h2>
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Введите имя">
        <input type="email" name="email" id="email" placeholder="Введите почту">
        <input type="tel" id="phone" name="phone" placeholder="Введите телефон"  maxlength="12">
        <button type="submit">Закажите звонок</button>
    </form>

</div>

<script>
    function validateForm() {
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var phone = document.getElementById('phone').value;

        if (name.trim() === '' || email.trim() === '' || phone.trim() === '') {
            alert('Заполните все поля!');
            return false; // Отменить отправку формы
        }

        // Все поля заполнены, можно отправлять форму
        return true;
    }
</script>
<!-- Конец блока fa -->
{% endblock %}