<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/photo_video.css">
    <link rel="stylesheet" href="../css/blocks/header.css">
    <link rel="stylesheet" href="../css/blocks/footer.css">
    <link rel="stylesheet" href="../css/blocks/block_fa.css">
    <title>AUTODEALER</title>
</head>
<body>
    <header>
        <div class="name_block">
            <p class="name">AUTODEALER</p>
        </div>
        <div class="btn">
            <a href="main.html" class="link_btn">ГЛАВНАЯ</a>
        </div>
        <div class="btn">
            <a href="models.html" class="link_btn">МОДЕЛИ</a>
        </div>
        <div class="btn">
            <a href="photo_video.html" class="link_btn">ФОТО И ВИДЕО</a>
        </div>
        <div class="btn">
            <a href="request.html" class="link_btn">ПОКУПАТЕЛЯМ</a>
        </div>
        <div class="btn">
            <a href="about.html" class="link_btn">О КОМПАНИИ</a>
        </div>
        <div class="btn">
            <a href="contacts.html" class="link_btn">КОНТАКТЫ</a>
        </div>
        <div class="empty">

        </div>
    </header>
    <main>
        <!-- Блок photo -->
        <div class="photo">
            <h1>Фото и видео</h1>
            <h2><span>Какой вид автомобиля выбрать для себя, если вы задумались о покупке авто</span></h2>
            <img src="../pictures/p_v_page/p_v_1.png" alt="p_v_1.png">
            <img src="../pictures/p_v_page/p_v_2.png" alt="p_v_2.png">
            <img src="../pictures/p_v_page/p_v_3.png" alt="p_v_3.png">
            <img src="../pictures/p_v_page/p_v_4.png" alt="p_v_4.png">
            <img src="../pictures/p_v_page/p_v_5.png" alt="p_v_5.png">
            <img src="../pictures/p_v_page/p_v_6.png" alt="p_v_6.png">
            <img src="../pictures/p_v_page/p_v_7.png" alt="p_v_7.png">
            <img src="../pictures/p_v_page/p_v_8.png" alt="p_v_8.png">
            <img src="../pictures/p_v_page/p_v_9.png" alt="p_v_9.png">
        </div>
        <!-- Конец блока photo -->

        <!-- Блок fa -->
        <div class="block_fa">
            <h1>Преимущества <span>нашего сервиса</span></h1>
            <div class="b_fa_text_box_full">
                <div class="b_fa_text_box">
                    <h2>Гарантии</h2>
                    <p>Сохранение заводской гарантии
                        Двухлетняя гарантия на оригинальные детали и аксессуары
                        Гарантия на выполненные сервисные работы</p>
                </div>
                <div class="b_fa_text_box">
                    <h2>Удобство и комфорт</h2>
                    <p>Обеспечение мобильности <br>Всегда на связи
                        Комфортные условия в сервисных центрах</p>
                </div>
            </div>
            <div class="b_fa_reg_box">
                <h2>Оформите заявку</h2>
                <input type="text" name="Введите имя" id="name" placeholder="Введите имя">
                <input type="email" name="Введите почту" id="mail" placeholder="Введите почту">
                <input type="text" name="Введите телефон" id="phone" placeholder="Ввведите телефон">
                <button>Закажите звонок</button>
            </div>
        </div>
        <!-- Конец блока fa -->
    </main>
    <footer>
        <div>
            <a href="#" id="main">Главная</a>
            <a href="#" id="cars">Покупка машин</a>
            <a href="#" id="special">Спецпредлложение</a>
        </div>
        <div>
            <p>КОНТАКТЫ</p>
            <p>Тел.: +7 (***)***-**-**</p>
            <p>Электронная почта: ********@mail.ru</p>
        </div>
    </footer>
</body>
</html>