{% extends 'base.html' %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'css/request.css' %}">
</head>
<div class="block_rqst">
    <div class="input_rqst">
        <form action="{% url 'create_application' %}" method="post">
            {% csrf_token %}
            <h1>Запись на покупку атомобиля</h1>
            <h2><span>Оставить заявку на покупку автомобиля</span></h2>
            <div class="name">
                <p>Введите имя</p>
                <input type="text" id="name" name="name" placeholder="Введите имя">
            </div>
            <div class="phone">
                <p>Введите телефон</p>
                <input type="text" id="phone" name="phone" placeholder="Введите телефон">
            </div>
            <div class="car_input">
                <p>Введите марку и модель автомобиля</p>
                <input type="text" id="car" name="car" placeholder="Введите марку и модель автомобиля">
            </div>
            <button type="submit">Подать заявку</button>
        </form>
        
    </div>
    <!-- <form id="form" onsubmit="return validateForm()" method="post" action="{% url 'create_application' %}"  class="input_rqst">
        <h2>Оформите заявку</h2>
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Введите имя">
        <input type="email" name="email" id="email" placeholder="Введите почту">
        <input type="tel" id="phone" name="phone" placeholder="Введите телефон"  maxlength="12">
        <button type="submit">Закажите звонок</button>
    </form> -->
    <div class="img"></div>
</div>
{% endblock %}